openapi: 3.1.0
info:
  title: what3words Public Autosuggest Convert To 3wa API
  description: 'The what3words API converts between 3 word addresses (e.g. ///filled.count.soap)

    and latitude/longitude coordinates, returns autosuggest candidates, grid

    sections and supported languages.

    '
  version: '3.0'
  contact:
    name: what3words
    url: https://developer.what3words.com/public-api/docs
servers:
- url: https://api.what3words.com/v3
  description: Production
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Convert To 3wa
paths:
  /convert-to-3wa:
    get:
      summary: Convert coordinates to a 3 word address
      operationId: convertTo3wa
      parameters:
      - name: coordinates
        in: query
        required: true
        schema:
          type: string
        description: Latitude and longitude as comma separated values e.g. 51.521251,-0.203586
      - name: language
        in: query
        required: false
        schema:
          type: string
          default: en
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - geojson
          default: json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      tags:
      - Convert To 3wa
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
