openapi: 3.1.0
info:
  title: what3words Public Autosuggest API
  description: 'The what3words API converts between 3 word addresses (e.g. ///filled.count.soap)

    and latitude/longitude coordinates, returns autosuggest candidates, grid

    sections and supported languages.

    '
  version: '3.0'
  contact:
    name: what3words
    url: https://developer.what3words.com/public-api/docs
servers:
- url: https://api.what3words.com/v3
  description: Production
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Autosuggest
paths:
  /autosuggest:
    get:
      summary: AutoSuggest possible 3 word addresses
      operationId: autosuggest
      parameters:
      - name: input
        in: query
        required: true
        schema:
          type: string
      - name: n-results
        in: query
        required: false
        schema:
          type: integer
          default: 3
      - name: focus
        in: query
        required: false
        schema:
          type: string
      - name: n-focus-results
        in: query
        required: false
        schema:
          type: integer
      - name: clip-to-country
        in: query
        required: false
        schema:
          type: string
      - name: clip-to-bounding-box
        in: query
        required: false
        schema:
          type: string
      - name: clip-to-circle
        in: query
        required: false
        schema:
          type: string
      - name: clip-to-polygon
        in: query
        required: false
        schema:
          type: string
      - name: input-type
        in: query
        required: false
        schema:
          type: string
          enum:
          - text
          - vocon-hybrid
          - nmdp-asr
          - generic-voice
      - name: language
        in: query
        required: false
        schema:
          type: string
      - name: prefer-land
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Suggestion list
          content:
            application/json: {}
      tags:
      - Autosuggest
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
